*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  width: 100%;
  height: 100%;
}

button{
  padding: 10px 20px;
  margin: 10px;
}

h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  border-radius: 5px;
  margin: 10px;

}