*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ecbcbc;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center top; 
  border-radius: 50%;
  padding: 5px; 
  background-color: white; 
}

.card p{
  margin: 20px 20px;
}
.card button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}