body{
  width: 100%;
  margin: 0;  
  padding: 0; 
  overflow-x: hidden; 
  box-sizing: border-box; 
}

.card{
  background-color: rgb(187, 126, 136);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: rgb(84, 169, 238);
    border-radius: 5px;
  margin: 5px;
  padding: 20px;
}