* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

.Nav{

    background-color: lightseagreen;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav2{
    display: flex;
    gap: 30px;
}
